<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225540197035-4uhfdu3c8b3kr1a96uvevfalgri6stsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225540197035-4uhfdu3c8b3kr1a96uvevfalgri6stsm</string>
	<key>API_KEY</key>
	<string>AIzaSyCwu6wXSIISoGqz5-EsIdXxslPDD2oLTiI</string>
	<key>GCM_SENDER_ID</key>
	<string>225540197035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.induk.FlowerGarden</string>
	<key>PROJECT_ID</key>
	<string>flowergarden-6d59b</string>
	<key>STORAGE_BUCKET</key>
	<string>flowergarden-6d59b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225540197035:ios:ed0576511d8007a35ec5ee</string>
	<key>DATABASE_URL</key>
	<string>https://flowergarden-6d59b-default-rtdb.firebaseio.com</string>
</dict>
</plist>